<!-- views/404.ejs -->
<%- include('partials/header') %>

  <h1>404</h1>
  <p>Página no encontrada</p>
  <p>¿Querés volver a la página de inicio de sesión o registrarte?</p>
  <p>
    <a href="/login">Iniciar sesión</a> | <a href="/register">Registrarse</a>
  </p>
  <%- include('partials/footer') %>