<!-- views/login.ejs -->
<%- include('partials/header') %>

  <h1>Iniciar sesión</h1>
  <form action="/login" method="POST">
    <label for="usuario">Usuario:</label>
    <input type="text" id="usuario" name="usuario" required />
    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="password" required />
    <button type="submit">Iniciar sesión</button>
  </form>
  <p>¿No tenés una cuenta? <a href="/register">Registrate acá</a></p>

  <%- include('partials/footer') %>